<a class="prospect_details" href="#"><i class="fa fa-angle-double-down"></i></a>

<div class="prospect">
    <div>{{ 'Prospect'|trans }}</div>
    <div class="details hidden">
        {% if attribute(notifications, user.id) is defined and attribute(notifications, user.id).type == 'prospect' %}
            {% set notification = attribute(notifications, user.id) %}
            <article class="notification" data-id="{{ notification.id }}">
                <table>
                    <tr>
                        <td>{{ 'Datum'|trans }}</td>
                        <td>{{ notification.created|localizeddate('medium', 'none') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Bericht'|trans }}</td>
                        <td>{{ notification.message }}</td>
                    </tr>
                </table>
            </article>
            <a href="#" class="button_blue confirm"
               data-url="{{ path('notification_confirm', {'id': notification.id}) }}">
                {{ 'Accepteer'|trans }}
            </a>
            <a href="#" class="button_grey cancel"
               data-url="{{ path('notification_deny', {'id': notification.id}) }}">
                {{ 'Afwijzen'|trans }}
            </a>
        {% endif %}
    </div>
</div>
