<div class="jscroll-inner">
{% for member in members %}
    <li class="user-{{ member.user.id }}" data-user-id="{{ member.user.id }}">
        <div>
            <p>{{ member.user.name }}</p>
            <span>{{ member.user.email }}&nbsp;</span>
        </div>

        <div class="actions">

            {% if is_granted('EDIT', group) %}

                {% if member.role == 'prospect' %}

                    {% include ':popups:_prospect.html.twig' with {'user': member.user} %}

                {% else %}

                    <a href="#" class="delete rounded"
                       data-url="{{ path('membership_delete', {groupId: group.id, userId: member.user.id}) }}">
                        <i class="fa fa-minus"></i>
                    </a>

                    <select name="roles" class="roles"
                            data-url="{{ path('membership_update', {groupId: group.id, userId: member.user.id}) }}">
                        <option value="admin" {% if member.role == 'admin' %}selected{% endif %}>
                            {{ 'Admin'|trans }}
                        </option>
                        <option value="member" {% if member.role == 'member' %}selected{% endif %}>
                            {{ 'Member'|trans }}
                        </option>
                    </select>
                {% endif %}
            {% endif %}

        </div>
    </li>
{% endfor %}

{% set offset = offset + limit %}
{% if offset < members.totalCount %}
    <a class="groups-next" href="{{ path('search_group_members', {'id': group.id, 'query': query, 'offset': offset, 'limit': limit}) }}"></a>
{% endif %}
</div>
