{% for user in users %}
    <li>
        <div>
            <p>{{ user.name }}</p>
            <span>{{ user.email }}&nbsp;</span>
        </div>

        {% if attribute(members, user.id) is not defined %}
            <a href="#" class="add rounded"
               data-url="{{ path('membership_add', {groupId: group.id, userId: user.id}) }}">
                <i class="fa fa-plus"></i>
            </a>
        {% else %}
            {% if attribute(members, user.id).role == 'prospect' %}
                <div class="prospect">
                    {{ 'Prospect'|trans }}
                    {% if attribute(notifications, user.id) is defined %}
                        {% set notification = attribute(notifications, user.id) %}
                        <article class="notification" data-url="{{ path('notification_process', {'id': notification.id}) }}">
                            <table>
                                <tr>
                                    <td>{{ 'Datum'|trans }}</td>
                                    <td>{{ notification.created|localizeddate('medium', 'none') }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Bericht'|trans }}</td>
                                    <td>{{ notification.message }}</td>
                                </tr>
                            </table>
                        </article>
                    {% endif %}
                    <a href="#" class="button_blue confirm"
                       data-url="{{ path('membership_confirm', {'groupId': group.id, 'userId': user.id}) }}">
                        {{ 'Accepteer'|trans }}
                    </a>
                    <a href="#" class="button_grey cancel"
                       data-url="{{ path('membership_delete', {'groupId': group.id, 'userId': user.id}) }}">
                        {{ 'Afwijzen'|trans }}
                    </a>
                </div>
            {% else %}
                <a href="#" class="delete rounded"
                   data-url="{{ path('membership_delete', {groupId: group.id, userId: user.id}) }}">
                    <i class="fa fa-minus"></i>
                </a>

                <select name="roles" class="roles"
                        data-url="{{ path('membership_update', {groupId: group.id, userId: user.id}) }}">
                    <option value="admin" {% if attribute(members, user.id).role == 'admin' %}selected{% endif %}>
                        {{ 'Admin'|trans }}
                    </option>
                    <option value="member" {% if attribute(members, user.id).role == 'member' %}selected{% endif %}>
                        {{ 'Member'|trans }}
                    </option>
                </select>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
