<div class="edit_group" data-id="{{ group.id }}">
    <div class="left">
        <header>
            {% if form %}
                {{ form_start(form, {'action': path('edit_group', {'id': group.id}) }) }}
            {% endif %}

            <div>
                <a id="edit_group_close" href="#" class="close_modal close-modal"><i class="fa fa-times"></i></a>
                <p id="group_title">{{ group.name }}</p>
                {% if form %}
                    {{ form_widget(form.name, {'attr': {'class': 'hidden'}}) }}
                {% endif %}
                <a id="show_group_details" class="show_details" href="#"><i class="fa fa-angle-double-down"></i></a>
            </div>

            <div id="group_details" class="hidden details">{{ group.description }}</div>

            {% if form %}
                <div id="edit_group_details" class="hidden details">
                    {{ form_widget(form.description) }}

                    {% if form.parent %}
                        {{ form_widget(form.parent) }}
                    {% endif %}
                </div>
            {% endif %}

            {% if form %}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endif %}

            {% if is_granted('EDIT', group) %}
            <section id="group_deletion_confirmation" class="hidden">
                <form action="" method="post">
                    <p>{{ 'Deze groep verwijderen?'|trans }}</p>
                    <a href="#" class="button_blue pull-left confirm" data-url="{{ path('delete_group', {'id': group.id}) }}">
                        {{ 'Ja'|trans }}
                    </a>
                    <a href="#" class="button_dark_grey pull-right cancel">
                        {{ 'Nee'|trans }}
                    </a>
                </form>
            </section>
            {% endif %}
        </header>

        <ul class="tabs">
            <li>
                <a id="group_members" href="#" class="active">
                    {{ 'Group members'|trans }}
                </a>
            </li>
            <li>
                {% if is_granted('EDIT', group) %}
                <a id="add_members" href="#">
                    <i class="rounded fa fa-plus"></i>{{ 'Add members'|trans }}
                </a>
                {% endif %}
            </li>
        </ul>

        <div id="group_members_tab">
            <div class="search_container">
                <div class="input_container">
                    <i class="fa fa-search"></i>
                    <input class="searchInput" type="text"/>
                </div>
            </div>

            <ul class="users" data-url="{{ path('search_group_members', {'id': group.id}) }}">
                {% include(':popups:group_members.html.twig') %}
            </ul>
        </div>

        {% if is_granted('EDIT', group) %}
            <div id="add_members_tab" class="hidden">
                <div class="search_container">
                    <div class="input_container">
                        <i class="fa fa-search"></i>
                        <input class="searchInput" type="text"/>
                    </div>
                </div>

                <ul class="users" data-url="{{ path('search_group_users', {'id': group.id}) }}">
                    {% include(':popups:group_users.html.twig') with {'members': memberships} %}
                </ul>
            </div>
        {% endif %}
    </div>

    {% if is_granted('EDIT', group) %}
        <ul class="icons right">
            <li>
                <a id="edit_group_link" href="#">
                    <i class="fa fa-edit"></i>
                </a>
            </li>
            <li>
                <a id="download_group_link" href="{{ path('group_export_members', {'id': group.id}) }}">
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a id="delete_group_link" href="#">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
        </ul>
    {% endif %}

    <div class="user-add-tpl hidden">
        <a href="#" class="add rounded"
           data-url="{{ path('membership_add', {groupId: '%gid%', userId: '%uid%'}) }}">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div class="user-edit-tpl hidden">
        <a href="#" class="delete rounded"
           data-url="{{ path('membership_delete', {groupId: '%gid%', userId: '%uid%'}) }}">
            <i class="fa fa-minus"></i>
        </a>

        <select name="roles" class="roles"
                data-url="{{ path('membership_update', {groupId: '%gid%', userId: '%uid%'}) }}">
            <option value="admin">{{ 'Admin'|trans }}</option>
            <option value="member">{{ 'Member'|trans }}</option>
        </select>
    </div>
</div>
