<section id="join_group" class="join_group_container hidden">

    <div class="join_group_modal">
        <header>
            <a id="join_group_close" href="#" class="close_modal close-modal"><i class="fa fa-times"></i></a>
            <p>{{ 'Lidmaatschap aanvragen'|trans }}</p>
        </header>

        <form action="" method="post">
            <div class="form_element">
                <span>{{ 'Naam group'|trans }}</span>
                <p class="group-name"></p>
            </div>

            <div class="form_element">
                <label for="personal_message">{{ 'Persoonlijk bericht'|trans }}</label>
                <textarea id="personal_message" name="personal_message" cols="15"></textarea>
            </div>

            <a href="#" class="button_blue confirm">{{ 'Aanvragen'|trans }}</a>
            <a href="#" class="button_dark_grey cancel">{{ 'Annuleren'|trans }}</a>
        </form>
    </div>

</section>
