<section id="new_group" class="new_group_container hidden">

    <div class="new_group">
        <header>
            <a id="new_group_close" href="#" class="close_modal"><i class="fa fa-times"></i></a>
            <p>{{ 'NEW GROUP'|trans }}</p>
        </header>

        <form action="">
            <div class="form_element">
                <label for="name_group">{{ 'Name'|trans }}</label>
                <input id="name_group" name="name_group" type="text" placeholder="{{ 'Name...'|trans }}">
            </div>

            <div class="form_element">
                <label for="name_description">{{ 'Description'|trans }}</label>
                <textarea id="name_description" name="name_description" cols="5" placeholder="{{ 'Description...'|trans }}"></textarea>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="form_element">
                <label for="type_group">{{ 'Type'|trans }}</label>
                <select name="type_group" id="type_group">
                    <option value="">{{ 'Select a type...'|trans }}</option>
                </select>
            </div>
            {% endif %}

            <a href="#" class="button_blue">{{ 'Submit'|trans }}</a>
            <a href="#" class="button_dark_grey">{{ 'Cancel'|trans }}</a>
        </form>
    </div>

</section>
