<section id="new_group" class="new_group_container hidden">

    <div class="new_group_modal">
        <header>
            <a id="new_group_close" href="#" class="close_modal close-modal"><i class="fa fa-times"></i></a>
            <p>{{ 'NEW GROUP'|trans }}</p>
        </header>

        {{ form_start(add_form) }}
            <div class="form_element">
                <label for="name_group">{{ 'Name'|trans }}</label>
                {{ form_widget(add_form.name, {attr: {'placeholder': 'Name...'|trans}}) }}
            </div>

            <div class="form_element">
                <label for="name_description">{{ 'Description'|trans }}</label>
                {{ form_widget(add_form.description, {attr: {'placeholder': 'Description...'|trans}}) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="form_element">
                <label for="type_group">{{ 'Type'|trans }}</label>
                {{ form_widget(add_form.parent) }}
            </div>
            {% endif %}

            <button type="submit" class="button_blue">{{ 'Submit'|trans }}</button>
            <a href="#" class="close-modal button_dark_grey">{{ 'Cancel'|trans }}</a>
        {{ form_end(add_form) }}
    </div>

</section>
