<div class="notifications">
    <header>
        <a id="notifications_close" href="#" class="close_modal close-modal"><i class="fa fa-times"></i></a>
        <p>{{ 'NOTIFICATIONS'|trans }}</p>
    </header>

    {% for notification in notifications %}
        <article class="notification notification-{{ notification.id }}"
                 data-id="{{ notification.id }}"
                 data-group-id="{{ notification.group.id }}"
                 data-from-id="{{ notification.from.id }}">
            <table>
                <tr>
                    <td>{{ 'Datum'|trans }}</td>
                    <td>{{ notification.created|localizeddate('medium', 'none') }}</td>
                </tr>
                <tr>
                    <td>{{ 'Groep'|trans }}</td>
                    <td>{{ notification.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'Gebruiker'|trans }}</td>
                    <td>{{ notification.from.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'Bericht'|trans }}</td>
                    <td>
                        {% if notification.type == 'prospect' %}
                            {{ notification.message }}
                        {% else %}
                            @TODO
                        {% endif %}
                    </td>
                </tr>
            </table>

            {% if notification.type == 'prospect' %}
                <a href="#" class="button_blue confirm" data-url="{{ path('notification_confirm', {'id': notification.id}) }}">
                    {{ 'Accepteer'|trans }}
                </a>
                <a href="#" class="button_grey cancel" data-url="{{ path('notification_deny', {'id': notification.id}) }}">
                    {{ 'Afwijzen'|trans }}
                </a>
            {% else %}
                <a href="#" class="button_blue confirm" data-url="{{ path('notification_confirm', {'id': notification.id}) }}">
                    {{ 'OK'|trans }}
                </a>
            {% endif %}
        </article>
    {% endfor %}

</div>
