<section id="notifications" class="notifications_container hidden">
    <div class="notifications">
        <header>
            <a id="notifications_close" href="#" class="close_modal"><i class="fa fa-times"></i></a>
            <p>{{ 'NOTIFICATIONS'|trans }}</p>
        </header>

        {% for notification in notifications %}
            <article class="notification notification-{{ notification.id }}"
                     data-id="{{ notification.id }}"
                     data-url="{{ path('notification_process', {'id': notification.id}) }}"
                     data-group-id="{{ notification.group.id }}"
                     data-from-id="{{ notification.from.id }}">
                <table>
                    <tr>
                        <td>{{ 'Datum'|trans }}</td>
                        <td>{{ notification.created|localizeddate('medium', 'none') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Groep'|trans }}</td>
                        <td>{{ notification.group.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Gebruiker'|trans }}</td>
                        <td>{{ notification.from.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Bericht'|trans }}</td>
                        <td>{{ notification.message }}</td>
                    </tr>
                </table>

                <a href="#" class="button_blue confirm"
                   data-url="{{ path('membership_confirm', {'groupId': notification.group.id, 'userId': notification.from.id}) }}">
                    {{ 'Accepteer'|trans }}
                </a>
                <a href="#" class="button_grey cancel"
                   data-url="{{ path('membership_delete', {'groupId': notification.group.id, 'userId': notification.from.id}) }}">
                    {{ 'Afwijzen'|trans }}
                </a>
            </article>
        {% endfor %}

    </div>
</section>
