<!doctype html>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">

    <title>{{ 'Surfnet'|trans }} - {{ 'GroupHUB'|trans }}</title>

    {% stylesheets 'css/*' output='compiled/css/grouphub.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>

<body class="index">

<header class="header">
    <ul>
        <li><a href="{{ path('home') }}">{{ 'GroupHUB'|trans }}</a></li>
        <li><a href="{{ path('home') }}">{{ 'Surfnet'|trans }}</a></li>
    </ul>

    <ul>
        <li>
            <a class="button_blue" id="new_group_link" href="#">
                <i class="fa fa-plus-circle"></i>{{ 'New Group'|trans }}
            </a>
        </li>
        <li>
            <a class="button_grey_info" id="notifications_link" href="#">
                <span>{{ notifications|length }}</span>{{ 'Notifications'|trans }}
            </a>
        </li>
        <li>
            <a class="button_grey" href="#">
                {{ 'Info'|trans }}
            </a>
        </li>
        <li class="username">{{ app.user.username }}</li>
        <li class="language-selector">
            {% set selectedLang = app.request.locale %}
            {% set otherLang = selectedLang == 'en' ? 'nl' : 'en' %}
            <a class="button_grey" id="language_selector_link" href="#">{{ selectedLang|upper|trans }}<i class="fa fa-sort-down"></i></a>
            <a class="button_grey hidden" id="language_selector_menu" href="{{ path('home', {'_locale': otherLang}) }}">{{ otherLang|upper|trans }}</a>
        </li>
    </ul>
</header>

<nav>
    <ul>
        <li>
            <input id="select_my_groups" type="checkbox" checked/>
            <label class="background_blue" for="select_my_groups"><span><i class="fa fa-check"></i></span></label>
            <label class="white" for="select_my_groups">
                {{ 'My groups'|trans }}
            </label>
        </li>
        <li>
            <input id="select_organisation_groups" type="checkbox" checked/>
            <label class="background_green" for="select_organisation_groups"><span><i class="fa fa-check"></i></span></label>
            <label class="white" for="select_organisation_groups">
                {{ 'Organisation groups'|trans }}
            </label>
        </li>
        <li>
            <input id="select_all_groups" type="checkbox" checked/>
            <label class="background_purple" for="select_all_groups"><span><i class="fa fa-check"></i></span></label>
            <label class="white" for="select_all_groups">
                {{ 'All groups'|trans }}
            </label>
        </li>
    </ul>

    <div class="search_container">
        <div class="input_container">
            <i class="fa fa-search"></i>
            <input id="searchInput" placeholder="" type="text"/>
        </div>
    </div>
</nav>

{{ include('::groups.html.twig') }}

<footer>
    <ul>
        <li><a href="#">{{ 'Surfnet'|trans }}</a></li>
        <li><a href="#">{{ 'Terms & conditions'|trans }}</a></li>
        <li><a href="#">{{ 'Privacy'|trans }}</a></li>
    </ul>
</footer>

{{ include(':popups:notifications.html.twig') }}
{{ include(':popups:new_group.html.twig') }}

<section id="edit_group" class="edit_group_container hidden"></section>

{{ include(':popups:join_group.html.twig') }}

{% javascripts 'js/*'  output='compiled/js/grouphub.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
