{% for group in groups %}
    <li class="group_section edit {% if group.type == 'grouphub' %}member{% else %}none{% endif %} group-{{ group.id }}"
        data-url="{{ path('group_details', {'id': group.id}) }}">
        <div>
            <i class="fa {% if group.type == 'grouphub' %}fa-user{% else %}fa-lock{% endif %} {{ color }}"></i>
            <span class="count">{{ group.userCount }}</span>
        </div>

        <div>
            <p class="name">{{ group.name }}</p>
            <p class="description">{{ group.description }}&nbsp;</p>
            <p>{{ group.timeStamp|localizeddate('medium', 'none') }}
                {% if group.ownerId > 2 %}
                    - {{ group.owner.name }}
                {% endif %}
            </p>
        </div>

        <div>
            {% if group.type == 'grouphub' and attribute(memberships, group.id) is defined and attribute(memberships, group.id).role in ['member', 'admin'] %}
                <a class="button_member {{ color }}" href="#" data-hover="{{ 'LEAVE'|trans }}"
                   data-url="{{ path('my_membership_delete', {'groupId': group.id}) }}">
                    <span>{{ 'LEAVE'|trans }}</span>
                </a>
            {% elseif group.type == 'grouphub' and attribute(memberships, group.id) is defined and attribute(memberships, group.id).role == 'prospect' %}
                <a class="button_join {{ color }}" href="#">
                    <span>{{ 'PROSPECT'|trans }}</span>
                </a>
            {% elseif group.type == 'grouphub' %}
                <a class="button_join {{ color }}" href="#" data-name="{{ group.name }}"
                   data-url="{{ path('my_membership_add', {'groupId': group.id}) }}">
                    <span>{{ 'JOIN'|trans }}</span>
                </a>
            {% endif %}
        </div>
    </li>
{% endfor %}

{% if groups.totalCount > offset + limit %}
    <a class="groups-next"
       href="{{ path('groups', {'type': type, 'query': query, 'sort': sort, 'offset': offset + limit, 'limit': limit}) }}">
    </a>
{% endif %}
