<div id="group_all_groups" class="group ">

    <section class="background_purple">
        <a id="close_all_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div id="sort_menu_purple" class="sort_purple">
            <span><i class="fa fa-sort-amount-asc"></i></span>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <span ><i class="fa fa-sort-down"></i></span>
            </span>
        </div>

        <div id="sort_drop_down_purple" class="hidden sort_drop_down_purple">
            <ul>
                <li><label for="name_up_purple">{{ 'A - Z'|trans }}</label><input type="radio" id="name_up_purple" name="sort_purple" checked></li>
                <li><label for="name_down_purple">{{ 'Z - A'|trans }}</label><input type="radio" id="name_down_purple" name="sort_purple"></li>
                <li><label for="date_up_purple">{{ 'Jan - Dec'|trans }}</label><input type="radio" id="date_up_purple" name="sort_purple"></li>
                <li><label for="date_down_purple">{{ 'Dec - Jan'|trans }}</label><input type="radio" id="date_down_purple" name="sort_purple"></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'ALL GROUPS'|trans }}</h3>
            <p>{{ 'There is a total of %count% groups'|trans({'%count%': 213}) }}</p>
        </div>
    </section>

    <ul>
        {% for group in groups %}
            <li class="group_section">
                <div>
                    <i class="fa fa-user purple"></i>
                    <span>12</span>
                </div>
                <div>
                    <p>{{ group.name }}</p>
                    <p>{{ group.description }}&nbsp;</p>
                    <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                </div>
                <div>
                    {% if attribute(memberGrouphubGroups, group.id) is defined %}
                        <a class="button_member" href="#" data-hover="{{ 'LEAVE'|trans }}">
                            <span>{{ 'MEMBER'|trans }}</span>
                        </a>
                    {% elseif attribute(memberOtherGroups, group.id) is defined %}
                        <a class="button_member" href="#">
                            <span>{{ 'MEMBER'|trans }}</span>
                        </a>
                    {% elseif group.type == 'grouphub' %}
                        <a class="button_join" href="#">
                            <span>{{ 'JOIN'|trans }}</span>
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
