<div id="group_all_groups" class="group ">

    <section class="background_purple">
        <a id="close_all_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div class="sort">
            <a href="#"><i class="fa fa-sort-amount-asc"></i></a>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <a id="sort_menu_purple" href="#"><i class="fa fa-sort-down"></i></a>
            </span>
        </div>

        <div id="sort_drop_down_purple" class="hidden sort_drop_down_purple">
            <ul>
                <li><a href="#" class="active">{{ 'Title'|trans }}</a></li>
                <li><a href="#">{{ 'Description'|trans }}</a></li>
                <li><a href="#">{{ 'Date'|trans }}</a></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'ALL GROUPS'|trans }}</h3>
            <p>{{ 'There is a total of %count% groups'|trans({'%count%': 213}) }}</p>
        </div>
    </section>

    <ul>
        {% for group in groups %}
            <li class="group_section">
                <div>
                    <i class="fa fa-user purple"></i>
                    <span>12</span>
                </div>
                <div>
                    <p>{{ group.name }}</p>
                    <p>{{ group.description }}&nbsp;</p>
                    <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                </div>
                <div>
                    {% if attribute(memberGrouphubGroups, group.id) is defined or attribute(memberOtherGroups, group.id) is defined %}
                        <a class="button_member" href="#" data-hover="{{ 'LEAVE'|trans }}">
                            <span>{{ 'MEMBER'|trans }}</span>
                        </a>
                    {% elseif group.type == 'grouphub' %}
                        <a class="button_join" href="#">
                            <span>{{ 'JOIN'|trans }}</span>
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
