<div id="group_my_groups" class="group ">

    <section class="background_blue">
        <a id="close_my_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div id="sort_menu_blue" class="sort_blue">
            <span><i class="fa fa-sort-amount-asc"></i></span>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <span ><i class="fa fa-sort-down"></i></span>
            </span>
        </div>

        <div id="sort_drop_down_blue" class="hidden sort_drop_down_blue">
            <ul>
                <li><label for="name_up_blue">{{ 'A - Z'|trans }}</label><input type="radio" id="name_up_blue" name="sort_blue" checked></li>
                <li><label for="name_down_blue">{{ 'Z - A'|trans }}</label><input type="radio" id="name_down_blue" name="sort_blue"></li>
                <li><label for="date_up_blue">{{ 'Jan - Dec'|trans }}</label><input type="radio" id="date_up_blue" name="sort_blue"></li>
                <li><label for="date_down_blue">{{ 'Dec - Jan'|trans }}</label><input type="radio" id="date_down_blue" name="sort_blue"></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'MY GROUPS'|trans }}</h3>
            <p>{{ 'You own or are a member of the group'|trans }}</p>
        </div>
    </section>

    {% if ownerGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if adminGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if memberGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}
                            {% if group.ownerId > 2 %}
                                - {{ group.owner.name }}
                            {% endif %}
                        </p>
                    </div>
                    <div>
                        <a class="button_member blue" href="#" data-hover="{{ 'LEAVE'|trans }}"
                           data-url="{{ path('my_membership_delete', {'groupId': group.id}) }}">
                            <span>{{ 'LEAVE'|trans }}</span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
