<div id="group_my_groups" class="group" data-url="{{ path('groups', {'type': 'my'}) }}">

    <section class="background_blue sort">
        <a id="close_my_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'blue'} %}

        <div>
            <h3>{{ attribute(_context, 'my_groups_column_title_' ~ selectedLang)|upper }}</h3>
            <p>{{ 'You own or are a member of the group'|trans }}</p>
        </div>
    </section>

    {% if ownerGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if adminGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if memberGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberGrouphubGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}
                            {% if group.ownerId > 2 %}
                                - {{ group.owner.name }}
                            {% endif %}
                        </p>
                    </div>
                    <div>
                        <a class="button_member blue" href="#" data-hover="{{ 'LEAVE'|trans }}"
                           data-url="{{ path('my_membership_delete', {'groupId': group.id}) }}">
                            <span>{{ 'LEAVE'|trans }}</span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
