<div id="group_my_groups" class="group ">

    <section class="background_blue">
        <a id="close_my_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div class="sort">
            <a href="#"><i class="fa fa-sort-amount-asc"></i></a>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <a id="sort_menu_blue" href="#"><i class="fa fa-sort-down"></i></a>
            </span>
        </div>

        <div id="sort_drop_down_blue" class="hidden sort_drop_down_blue">
            <ul>
                <li><a href="#" class="active">{{ 'Title'|trans }}</a></li>
                <li><a href="#">{{ 'Description'|trans }}</a></li>
                <li><a href="#">{{ 'Date'|trans }}</a></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'MY GROUPS'|trans }}</h3>
            <p>{{ 'You own or are a member of the group'|trans }}</p>
        </div>
    </section>

    {% if ownerGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerGrouphubGroups %}
                <li class="group_section">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div>
                        <a class="button_edit" href="#" data-url="{{ path('group_details', {'id': group.id}) }}">
                            <span>{{ 'EDIT'|trans }}</span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if adminGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminGrouphubGroups %}
                <li class="group_section">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div>
                        <a class="button_edit" href="#" data-url="{{ path('group_details', {'id': group.id}) }}">
                            <span>{{ 'EDIT'|trans }}</span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if memberGrouphubGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberGrouphubGroups %}
                <li class="group_section">
                    <div>
                        <i class="fa fa-user blue"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div>
                        <a class="button_member" href="#" data-hover="{{ 'LEAVE'|trans }}">
                            <span>{{ 'MEMBER'|trans }}</span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
