<div id="group_organisation_groups" class="group" data-url="{{ path('groups', {'type': 'org'}) }}">

    <section class="background_green sort">
        <a id="close_organisation_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'green'} %}

        <div>
            <h3>{{ attribute(_context, 'org_groups_column_title_' ~ app.request.locale)|upper }}</h3>
            <p>{{ 'You are a member of these groups'|trans }}</p>
        </div>
    </section>

    {% set ownerOtherGroups = myGroups.other.owner %}

    {% if ownerOtherGroups|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerOtherGroups %}
                {% set group = group.group %}
                <li class="group_section edit group-{{ group.id }}" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span class="count">{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p class="name">{{ group.name }}</p>
                        <p class="description">{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set adminOtherGroups = myGroups.other.admin %}

    {% if adminOtherGroups|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminOtherGroups %}
                {% set group = group.group %}
                <li class="group_section edit group-{{ group.id }}" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span class="count">{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p class="name">{{ group.name }}</p>
                        <p class="description">{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set memberOtherGroups = myGroups.other.member %}

    {% if memberOtherGroups|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberOtherGroups %}
                {% set group = group.group %}
                <li class="group_section edit group-{{ group.id }}" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span class="count">{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p class="name">{{ group.name }}</p>
                        <p class="description">{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}
                            {% if group.ownerId > 2 %}
                                - {{ group.owner.name }}
                            {% endif %}
                        </p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
