<div id="group_organisation_groups" class="group" data-url="{{ path('groups', {'type': 'org'}) }}">

    <section class="background_green sort">
        <a id="close_organisation_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'green'} %}

        <div>
            <h3>{{ attribute(_context, 'org_groups_column_title_' ~ app.request.locale)|upper }}</h3>
            <p>{{ 'You are a member of these groups'|trans }}</p>
        </div>
    </section>

    {% if myGroups.other.owner|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-owner', 'limit': 4, 'myGroups': myGroups.other.owner} %}
        </ul>
    {% endif %}

    {% if myGroups.other.admin|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-admin', 'limit': 4, 'myGroups': myGroups.other.admin} %}
        </ul>
    {% endif %}

    {% if myGroups.other.member|length %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-member', 'limit': 4, 'myGroups': myGroups.other.member} %}
        </ul>
    {% endif %}

</div>
