<div id="group_organisation_groups" class="group ">

    <section class="background_green">
        <a id="close_organisation_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div id="sort_menu_green" class="sort_green">
            <span><i class="fa fa-sort-amount-asc"></i></span>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <span ><i class="fa fa-sort-down"></i></span>
            </span>
        </div>

        <div id="sort_drop_down_green" class="hidden sort_drop_down_green">
            <ul>
                <li><label for="name_up_green">{{ 'A - Z'|trans }}</label><input type="radio" id="name_up_green" name="sort_green" checked></li>
                <li><label for="name_down_green">{{ 'Z - A'|trans }}</label><input type="radio" id="name_down_green" name="sort_green"></li>
                <li><label for="date_up_green">{{ 'Jan - Dec'|trans }}</label><input type="radio" id="date_up_green" name="sort_green"></li>
                <li><label for="date_down_green">{{ 'Dec - Jan'|trans }}</label><input type="radio" id="date_down_green" name="sort_green"></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'ORGANISATION GROUPS'|trans }}</h3>
            <p>{{ 'You are a member of these groups'|trans }}</p>
        </div>
    </section>

    {% if ownerOtherGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if adminOtherGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if memberOtherGroups %}
        <section class="owned">
            <i class="fa fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>12</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
