<div id="group_organisation_groups" class="group" data-url="{{ path('groups', {'type': 'org'}) }}">

    <section class="background_green sort">
        <a id="close_organisation_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'green'} %}

        <div>
            <h3>{{ 'ORGANISATION GROUPS'|trans }}</h3>
            <p>{{ 'You are a member of these groups'|trans }}</p>
        </div>
    </section>

    {% if ownerOtherGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul>
            {% for group in ownerOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if adminOtherGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul>
            {% for group in adminOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}</p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if memberOtherGroups %}
        <section class="owned">
            <i class="fa fa-fw fa-angle-down"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul>
            {% for group in memberOtherGroups %}
                <li class="group_section edit" data-url="{{ path('group_details', {'id': group.id}) }}">
                    <div>
                        <i class="fa fa-user green"></i>
                        <span>{{ group.userCount }}</span>
                    </div>
                    <div>
                        <p>{{ group.name }}</p>
                        <p>{{ group.description }}&nbsp;</p>
                        <p>{{ group.timeStamp|localizeddate('medium', 'none') }}
                            {% if group.ownerId > 2 %}
                                - {{ group.owner.name }}
                            {% endif %}
                        </p>
                    </div>
                    <div></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
