<div id="group_search" class="group hidden">

    <section class="background_grey">
        <a id="close_search" href="#" class="close"><i class="fa fa-times"></i></a>

        <div class="sort">
            <a href="#"><i class="fa fa-sort-amount-asc"></i></a>
            <span>{{ 'A-Z'|trans }}</span>
            <span class="sort_container">
                <a id="sort_menu_grey" href="#"><i class="fa fa-sort-down"></i></a>
            </span>
        </div>

        <div id="sort_drop_down_grey" class="hidden sort_drop_down_grey">
            <ul>
                <li><a href="#" class="active">{{ 'Title'|trans }}</a></li>
                <li><a href="#">{{ 'Description'|trans }}</a></li>
                <li><a href="#">{{ 'Date'|trans }}</a></li>
            </ul>
        </div>

        <div>
            <h3>{{ 'SEARCH'|trans }}</h3>
            <p>{{ 'Results for data'|trans }}</p>
        </div>
    </section>

    <ul data-url="{{ path('search') }}">

    </ul>

</div>
